.haeder {
  background-image: url("../imagenes/portadaweb.jpeg");
  max-width: 100%;
  background-size: cover;
}

.titulos {
  text-align: center;
  color: #f2ad94;
  font-size: 3rem;
}

.subtitulos {
  color: #f2ad94;
}
