* {
  margin: 0;
  padding: 0;
}

body {
  font: $font-text;
  min-height: 100vh;
}

ul {
  list-style: none;
  li {
    padding: 15px;
    a {
      text-decoration: none;
      font-size: 16px;
      color: $blue-color;
    }
  }
}

.otros_titulos {
  text-align: center;
  font: $titulos $blue-color;
}

.aire {
  margin: 100 0 100 0;
}
