nav {
  color: $damasco-color;
  background-color: $color-nav-footer;
  font: $font-text $blue-color;
}

footer {
  background-color: $color-nav-footer;
  text-align: center;
  font: $font-text;
  bottom: 0;
  align-self: flex-end;
}
